<div class="container mt-2">
    <div class="row">
        <div class="col-md-6 offset-3">
            <div class="card">
                <div class="card-body singinform">
                    <h3 class="m-0 mb-2 text-center">Sign In</h3>
                    <form #signUp="ngForm" (ngSubmit)="onSignUp(signUp)">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input
                            required
                            pattern="[a-zA-Z]+"
                            ngModel
                            #username="ngModel"
                            name="username"
                            type="text" class="form-control">
                            <ng-container *ngIf="username.invalid">
                                <span *ngIf="username.touched && username.hasError('required')" 
                            class="text-danger">Username field is required</span>
                            <span *ngIf="username.dirty && username.hasError('pattern')" 
                            class="text-danger">Username should not include numbers and special character</span>
                            </ng-container>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input
                            required
                            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
                            ngModel
                            #email="ngModel"
                            name="email" 
                            type="text" class="form-control">
                            <span class="text-danger" *ngIf="email.invalid && email.touched && email.hasError('required')">
                                Email field is required</span>
                            <span class="text-danger" *ngIf="email.invalid && email.dirty && email.hasError('pattern')">
                                Please enter valid email address</span>
                        </div>
                        <div class="form-group">
                            <label for="passwordRecoveryQuestion">Password recovery question</label>
                            <select class="form-control" 
                            required
                            ngModel
                            #passwordRecoveryQuestion="ngModel"
                            name="passwordRecoveryQuestion"
                            id="passwordRecoveryQuestion">
                                <option value="Select">Select</option>
                                <option value="favouriteCountry">Favourite Country</option>
                                <option value="favouriteFood">Favourite Food</option>
                                <option value="favouriteGame">Favourite Game</option>
                            </select>
                            <span class="text-danger"
                             *ngIf="passwordRecoveryQuestion.invalid && passwordRecoveryQuestion.touched && passwordRecoveryQuestion.hasError('required')">password recovery question is required field</span>
                        </div>
                        <div class="form-group">
                            <label for="answer">Answer</label>
                            <input
                            required
                            ngModel
                            #answer="ngModel"
                            name="answer"
                            type="text" class="form-control">
                            <span class="text-danger" *ngIf="answer.invalid && answer.touched && answer.hasError('required')">Answer is required field</span>
                        </div>
                        <div class="form-group">
                            <label for="isSubscribed">
                                <input type="checkbox"
                                ngModel
                                #isSubscribed="ngModel"
                                name="isSubscribed"
                                id="isSubscribed"
                                >
                                Subscribe for daily emails and updates
                            </label>
                        </div>
                        <div class="form-group" *ngFor="let moc of mocArr">
                            <label [for]="moc.contactMode">
                                <input type="radio" 
                                ngModel
                                #contactMode="ngModel"
                                name="modeOfContact"
                                [value]="moc.contactMode">
                                {{moc.contactMode}}
                            </label>
                        </div>
                        <div class="text-right">
                            <button class="btn btn-primary mr-2"[disabled]="signUp.invalid">Sign In</button>
                            <button class="btn btn-info" (click)="onEdit()">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>